<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">1</property>
		<property name="hibernate.hikari.maximumPoolSize">30</property>
		<property name="hibernate.hikari.idleTimeout">30000</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/ocs_0902</property>
<!-- 		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://192.168.100.103:3306/ocs_0902</property> -->
		<property name="hibernate.hikari.dataSource.user">root</property>
		<property name="hibernate.hikari.dataSource.password">123456</property>
		<property name="hibernate.hikari.leakDetectionThreshold">30000</property>
		<property name="hibernate.connection.release_mode">on_close</property>
		<property name="hibernate.default_schema">ocs_0902</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">false</property> 
		
		<!-- <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ocs_0902</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.release_mode">on_close</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.default_catalog">ocs_0902</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property> -->

		<mapping class="com.viettel.ocs.entity.AcmBillCycle" />
		<mapping class="com.viettel.ocs.entity.Action" />
		<mapping class="com.viettel.ocs.entity.ActionPriceComponentMap" />
		<mapping class="com.viettel.ocs.entity.BalType" />
		<mapping class="com.viettel.ocs.entity.BillingCycle" />
		<mapping class="com.viettel.ocs.entity.BillingCycleType" />
		<mapping class="com.viettel.ocs.entity.Block" />
		<mapping class="com.viettel.ocs.entity.BlockRateTableMap" />
		<mapping class="com.viettel.ocs.entity.CalcUnit" />
		<mapping class="com.viettel.ocs.entity.Category" />
		<mapping class="com.viettel.ocs.entity.ColumnDecisionTableMap" />
		<mapping class="com.viettel.ocs.entity.ColumnDt" />
		<mapping class="com.viettel.ocs.entity.CdrGenFilename" />
		<mapping class="com.viettel.ocs.entity.CdrProcessConfig" />
		<mapping class="com.viettel.ocs.entity.CdrProp" />
		<mapping class="com.viettel.ocs.entity.CdrService" />
		<mapping class="com.viettel.ocs.entity.CdrTemplate" />
		<mapping class="com.viettel.ocs.entity.CdrTemplateProp" />
		<mapping class="com.viettel.ocs.entity.DecisionTable" />
		<mapping class="com.viettel.ocs.entity.DynamicReserve" />
		<mapping class="com.viettel.ocs.entity.DynamicReserveRateTableMap" />
		<mapping class="com.viettel.ocs.entity.Event" />
		<mapping class="com.viettel.ocs.entity.EventActionMap" />
		<mapping class="com.viettel.ocs.entity.EventActionTypeMap" />
		<mapping class="com.viettel.ocs.entity.Formula" />
		<mapping class="com.viettel.ocs.entity.GeoHomeZone" />
		<mapping class="com.viettel.ocs.entity.GeoNetZone" />
		<mapping class="com.viettel.ocs.entity.Lang" />
		<mapping class="com.viettel.ocs.entity.MapAcmbalBal" />
		<mapping class="com.viettel.ocs.entity.MapSharebalBal" />
		<mapping class="com.viettel.ocs.entity.MonitorKey" />
		<mapping class="com.viettel.ocs.entity.NomalizerNormParamMap" />
		<mapping class="com.viettel.ocs.entity.Normalizer" />
		<mapping class="com.viettel.ocs.entity.NormalizerNormValueMap" />
		<mapping class="com.viettel.ocs.entity.NormParam" />
		<mapping class="com.viettel.ocs.entity.NormValue" />
		<mapping class="com.viettel.ocs.entity.Offer" />
		<mapping class="com.viettel.ocs.entity.OfferActionMap" />
		<mapping class="com.viettel.ocs.entity.OfferParameterMap" />
		<mapping class="com.viettel.ocs.entity.Parameter" />
		<mapping class="com.viettel.ocs.entity.PccRule" />
		<mapping class="com.viettel.ocs.entity.PriceComponent" />
		<mapping class="com.viettel.ocs.entity.PriceComponentBlockMap" />
		<mapping class="com.viettel.ocs.entity.PriceRateMap" />
		<mapping class="com.viettel.ocs.entity.ProfilePep" />
		<mapping class="com.viettel.ocs.entity.ProfilePepPcc" />
		<mapping class="com.viettel.ocs.entity.PropList" />
		<mapping class="com.viettel.ocs.entity.Qos" />
		<mapping class="com.viettel.ocs.entity.RateTable" />
		<mapping class="com.viettel.ocs.entity.RateTableResult" />
		<mapping class="com.viettel.ocs.entity.RedirectAddress" />
		<mapping class="com.viettel.ocs.entity.RedirectAddressSuspend" />
		<mapping class="com.viettel.ocs.entity.ReserveInfo" />
		<mapping class="com.viettel.ocs.entity.ReserveInfoActionMap" />
		<mapping class="com.viettel.ocs.entity.ResultRateMap" />
		<mapping class="com.viettel.ocs.entity.RowDecisionTableMap" />
		<mapping class="com.viettel.ocs.entity.RowDt" />
		<mapping class="com.viettel.ocs.entity.RowOcs" />
		<mapping class="com.viettel.ocs.entity.SortPriceComponent" />
		<mapping class="com.viettel.ocs.entity.SortPriceRateTableMap" />
		<mapping class="com.viettel.ocs.entity.StateGroup" />
		<mapping class="com.viettel.ocs.entity.StateType" />
		<mapping class="com.viettel.ocs.entity.SubScanPolicy" />
		<mapping class="com.viettel.ocs.entity.SysDomain" />
		<mapping class="com.viettel.ocs.entity.SysRole" />
		<mapping class="com.viettel.ocs.entity.SysGroup" />
		<mapping class="com.viettel.ocs.entity.SysUser" />
		<mapping class="com.viettel.ocs.entity.SysMenu" />
		<mapping class="com.viettel.ocs.entity.SysMenuTrl" />
		<mapping class="com.viettel.ocs.entity.SysUserRoleMap" />
		<mapping class="com.viettel.ocs.entity.SysUserGroupMap" />
		<mapping class="com.viettel.ocs.entity.SysRoleGroupMap" />
		<mapping class="com.viettel.ocs.entity.SysRoleMenuMap" />
		<mapping class="com.viettel.ocs.entity.Threshold" />
		<mapping class="com.viettel.ocs.entity.ThresholdBaltypeMap" />
		<mapping class="com.viettel.ocs.entity.TriggerDestination" />
		<mapping class="com.viettel.ocs.entity.TriggerEvent" />
		<mapping class="com.viettel.ocs.entity.TriggerEventType" />
		<mapping class="com.viettel.ocs.entity.TriggerFieldBuilder" />
		<mapping class="com.viettel.ocs.entity.TriggerFieldFormat" />
		<mapping class="com.viettel.ocs.entity.TriggerMsg" />
		<mapping class="com.viettel.ocs.entity.TriggerMsgField" />
		<mapping class="com.viettel.ocs.entity.TriggerOcs" />
		<mapping class="com.viettel.ocs.entity.TriggerType" />
		<mapping class="com.viettel.ocs.entity.UnitType" />
		<mapping class="com.viettel.ocs.entity.ZoneMap" />
		<mapping class="com.viettel.ocs.entity.Cell" />
		<mapping class="com.viettel.ocs.entity.Zone" />
		<mapping class="com.viettel.ocs.entity.ZoneData" />
		<mapping class="com.viettel.ocs.entity.Service" />
		<mapping class="com.viettel.ocs.entity.MapTriggerErrorCode" />
		<mapping class="com.viettel.ocs.entity.OfferPackage" />
		<mapping class="com.viettel.ocs.entity.OfferpkgOfferMap" />
		<mapping class="com.viettel.ocs.entity.SnPayment" />
		<!-- <mapping class="com.viettel.ocs.entity.StateGroups" /> -->
		<mapping class="com.viettel.ocs.entity.ThresholdTriggerMap" />
		<mapping class="com.viettel.ocs.entity.NestedObjectClass" />
		<mapping class="com.viettel.ocs.entity.NestedObject" />
		<mapping class="com.viettel.ocs.entity.CssUssdResponse" />
		<mapping class="com.viettel.ocs.entity.RelativeProduct" />
		<mapping class="com.viettel.ocs.entity.TriggerFieldList" />
		<mapping class="com.viettel.ocs.entity.ActionType" />
		<mapping class="com.viettel.ocs.entity.FormulaErrorCode" />
		<mapping class="com.viettel.ocs.entity.ObjectField" />
		<mapping class="com.viettel.ocs.entity.QosClass" />
		<mapping class="com.viettel.ocs.entity.ShareType" />
		<mapping class="com.viettel.ocs.entity.AuditLog" />
		<mapping class="com.viettel.ocs.entity.SystemConfig" />
		<mapping class="com.viettel.ocs.entity.FormulaUnitConverter" />
		<mapping class="com.viettel.ocs.entity.AVPDataType" />
		<mapping class="com.viettel.ocs.entity.AVPDefine" />
		<mapping class="com.viettel.ocs.entity.PreFunction" />
		<mapping class="com.viettel.ocs.entity.AVPDataType" />
		<mapping class="com.viettel.ocs.entity.AVPDefine" />
		<mapping class="com.viettel.ocs.entity.GeneralObjectV" />
		<mapping class="com.viettel.ocs.entity.GeneralObjectDumpV" />
		<mapping class="com.viettel.ocs.entity.StatisticItem" />
		<mapping class="com.viettel.ocs.entity.PcType" />
		<mapping class="com.viettel.ocs.entity.PcTypeBlockMap" />
		<mapping class="com.viettel.ocs.entity.OfferVersionStatistic" />
		<mapping class="com.viettel.ocs.entity.SmsNotifyTemplate" />
		<mapping class="com.viettel.ocs.entity.CdrStdIo" />
		<mapping class="com.viettel.ocs.entity.CdrStdConfig" />
	</session-factory>
</hibernate-configuration>