/*!
 * SmartAdmin - Responsive WebApp
 *
 * Copyright 2014 bootstraphunter.com
 * Designed and built with all the love in the world by @bootstraphunt.
 */
 article.sortable-grid{min-height:30px}
.jarviswidget{margin:0 0 30px;position:relative;-khtml-border-radius:0;border-radius:0;padding:0}
.widget-content-padding{padding:20px}
.widget-content-padding .well{margin-bottom:0}
.jarviswidget>header{height:34px;padding:0;line-height:40px}
.ui-sortable .jarviswidget-sortable>header{cursor:move;-khtml-border-radius:0;border-radius:0;line-height:normal;box-shadow:inset 0 -2px 0 rgba(0,0,0,.05);-webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,.05)}
.jarviswidget>header>.widget-icon{display:block;width:30px;height:32px;position:relative;float:left;font-size:111%;line-height:32px;text-align:center;margin-right:-10px}
.ui-sortable .jarviswidget-sortable.jarviswidget-collapsed>header{-khtml-border-radius:0;border-radius:0}
.jarviswidget>header h2{height:100%;width:auto;display:inline-block;font-size:14px;position:relative;margin:0;line-height:34px;font-weight:400;letter-spacing:0}
.jarviswidget>header>h2{margin-left:10px;float:left}
.jarviswidget>header>:first-child.widget-icon{margin-left:0}
.jarviswidget>header .jarviswidget-icon{width:16px;height:16px;float:left;margin:12px 10px 0 0;display:block;zoom:1;z-index:4000}
.jarviswidget-ctrls{width:auto;float:right;padding:0;margin:0}
.jarviswidget-ctrls .button-icon{min-width:30px;height:32px;float:left;position:relative;font-family:Arial,Helvetica,sans-serif;border-left:1px solid rgba(0,0,0,.09)}
.jarviswidget-ctrls .button-icon:hover{background-color:rgba(0,0,0,.05)}
.jarviswidget-loader{width:32px;height:32px;margin:0;float:right;background-repeat:no-repeat;background-position:center center;display:none;text-align:center;line-height:32px;font-size:111%}
.jarviswidget>div{float:left;width:100%;position:relative;font-size:13px;-khtml-border-radius:0;border-radius:0;margin:0;border-width:1px 1px 2px;border-style:solid;border-top:0;border-right-color:#CCC!important;border-bottom-color:#CCC!important;border-left-color:#CCC!important;padding:13px;overflow:visible}
.jarviswidget .widget-body{min-height:100px;position:relative;padding-bottom:13px}
.jarviswidget .widget-body.widget-hide-overflow{overflow:hidden}
.widget-toolbar.no-border{border-left:0}
.widget-body.no-padding{margin:-13px -13px 0}
.jarviswidget.well.transparent .widget-body.no-padding{margin:0!important}
.widget-body>table{margin-bottom:0}
.widget-body.no-padding .alert{margin:0 0 10px;padding:10px;box-shadow:none!important;-webkit-box-shadow:none!important;border-width:0 0 1px!important;border-radius:0!important}
.no-padding .md-editor,.widget-body.no-padding .cke_chrome{border:0}
.widget-toolbar>.smart-form{margin-top:2px}
.widget-toolbar>.smart-form .toggle:last-child{font-size:12px;line-height:29px}
.widget-toolbar>.smart-form .checkbox input+i,.widget-toolbar>.smart-form .radio input+i,.widget-toolbar>.smart-form .toggle input+i{border-width:1px;border-color:#C7C7C7!important;margin-top:1px;box-shadow:0 1px 1px #FFF,0 1px 1px #858585 inset;-webkit-box-shadow:0 1px 1px #FFF,0 1px 1px #858585 inset}
.jarviswidget.well{margin:0 0 30px}
.jarviswidget.well>div{border:0!important;box-shadow:none!important;-webkit-box-shadow:none!important}
.jarviswidget.well header{display:none}
.widget-footer{display:block;min-height:32px;vertical-align:middle;position:relative;background-color:#F8F7F7;padding:5px;border-top:1px solid #E4E4E4;text-align:right;margin:0 -13px -13px}
.no-padding .widget-footer{margin:0}
.widget-footer.smart-form>label{margin-top:4px;display:block}
.jarviswidget-editbox{display:none;padding:10px}
.jarviswidget-timestamp{font-size:12px;color:#868686;font-style:italic;margin:10px 0 0}
.jarviswidget-placeholder{-khtml-border-radius:0;border-radius:0;margin-bottom:28px;padding:0;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
body.nooverflow{overflow:hidden;position:fixed;width:100%}
#jarviswidget-fullscreen-mode{width:100%;height:100%;position:fixed;top:0;left:0;z-index:99999}
#jarviswidget-fullscreen-mode .jarviswidget{margin:0;-khtml-border-radius:0;border-radius:0}
#jarviswidget-fullscreen-mode .jarviswidget>div{overflow-y:scroll;-khtml-border-radius:0;border-radius:0}
#jarviswidget-fullscreen-mode>div>header{cursor:default}
.smart-form.widget-body-toolbar,.widget-body-toolbar{display:block;padding:0px 10px;margin:-13px -13px 13px;min-height:42px;border-bottom:1px solid #ccc;background:#fafafa}
.no-padding .smart-form.widget-body-toolbar,.no-padding .widget-body-toolbar,.no-padding.widget-body-toolbar{display:block;margin:0}
.smart-form .widget-body-toolbar .inline-group,.widget-body-toolbar.smart-form .inline-group{float:left;margin-top:4px}
.widget-body-toolbar .btn{vertical-align:middle}
.widget-body-toolbar .btn-xs{margin-top:5px}
.widget-body-ajax-loading::before{content:url(../img/ajax-loader.gif);padding-top:18%;text-align:center;font-weight:700;font-size:16px;color:#fff;display:block;background:rgba(255,255,255,.4);height:100%;z-index:1;width:100%;position:absolute}
.widget-body-ajax-loading:hover{cursor:wait!important}
.jarviswidget>header{color:#333;border:1px solid #C2C2C2;background:#fafafa}
.jarviswidget>div{background-color:#fff!important}
.jarviswidget-editbox{border-bottom:1px solid #B1B1B1;background-color:#fff;margin:-13px -13px 13px}
.no-padding .jarviswidget-editbox{margin:0 0 10px}
.jarviswidget-placeholder{background-color:#FFC;border:1px dashed #A7A7A7}
.jarviswidget-remove-colors{color:#333!important;padding:0!important;background:none!important}
.jarviswidget-color-magenta>header{background:#6E3671;color:#FFF}
.jarviswidget-color-magenta .nav-tabs li:not(.active) a,.jarviswidget-color-magenta>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-magenta .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-magenta>header{border-color:#6E3671!important}
.jarviswidget-color-pink>header{background:#AC5287;color:#FFF}
.jarviswidget-color-pink .nav-tabs li:not(.active) a,.jarviswidget-color-pink>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-pink .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-pink>header{border-color:#AC5287!important}
.jarviswidget-color-pinkDark>header{background:#A8829F;color:#FFF}
.jarviswidget-color-pinkDark .nav-tabs li:not(.active) a,.jarviswidget-color-pinkDark>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-pinkDark .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-pinkDark>header{border-color:#A8829F!important}
.jarviswidget-color-yellow>header{background:#00C292;color:#FFF}
.jarviswidget-color-yellow .nav-tabs li:not(.active) a,.jarviswidget-color-yellow>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-yellow .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-yellow>header{border-color:#00C292!important}
.jarviswidget-color-orange>header{background:#C79121;color:#FFF}
.jarviswidget-color-orange .nav-tabs li:not(.active) a,.jarviswidget-color-orange>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-orange .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-orange>header{border-color:#C79121!important}
.jarviswidget-color-orangeDark>header{background:#A57225;color:#FFF}
.jarviswidget-color-orangeDark .nav-tabs li:not(.active) a,.jarviswidget-color-orangeDark>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-orangeDark .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-orangeDark>header{border-color:#A57225!important}
.jarviswidget-color-darken>header{background:#404040;color:#FFF}
.jarviswidget-color-darken .nav-tabs li:not(.active) a,.jarviswidget-color-darken>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-darken .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-darken>header{border-color:#404040!important}
.jarviswidget-color-purple>header{background:#65596B;color:#FFF}
.jarviswidget-color-purple .nav-tabs li:not(.active) a,.jarviswidget-color-purple>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-purple .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-purple>header{border-color:#65596B!important}
.jarviswidget-color-teal>header{background:#568A89;color:#FFF}
.jarviswidget-color-teal .nav-tabs li:not(.active) a,.jarviswidget-color-teal>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-teal .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-teal>header{border-color:#568A89!important}
.jarviswidget-color-blueDark>header{background:#4C4F53;color:#FFF}
.jarviswidget-color-blueDark .nav-tabs li:not(.active) a,.jarviswidget-color-blueDark>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-blueDark .nav-tabs li a:hover{color:#333!important}
/*.jarviswidget-color-blueDark>header{border-color:#4C4F53}*/
.jarviswidget-color-blue>header{background:#60747C;color:#FFF}
.jarviswidget-color-blue .nav-tabs li:not(.active) a,.jarviswidget-color-blue>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-blue .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-blue>header{border-color:#60747C!important}
.jarviswidget-color-blueLight>header{background:#CCDADF;color:#2b363c}
.jarviswidget-color-blueLight .nav-tabs li a:hover,.jarviswidget-color-blueLight .nav-tabs li:not(.active) a,.jarviswidget-color-blueLight>header>.jarviswidget-ctrls a{color:#2b363c!important}
.jarviswidget-color-blueLight>header{border-color:#92A2A8!important}
.jarviswidget-color-red>header{background:#931313;color:#FFF}
.jarviswidget-color-red .nav-tabs li:not(.active) a,.jarviswidget-color-red>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-red .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-red>header{border-color:#931313!important}
.jarviswidget-color-redLight>header{background:#A65858;color:#FFF}
.jarviswidget-color-redLight .nav-tabs li:not(.active) a,.jarviswidget-color-redLight>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-redLight .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-redLight>header{border-color:#A65858!important}
.jarviswidget-color-white>header{background:#fff;color:#838383}
.jarviswidget-color-white .nav-tabs li a:hover,.jarviswidget-color-white .nav-tabs li:not(.active) a,.jarviswidget-color-white>header>.jarviswidget-ctrls a{color:#838383!important}
.jarviswidget-color-white>header{border-color:#C8C8C8!important}
.jarviswidget-color-greenDark>header{background:#496949;color:#FFF}
.jarviswidget-color-greenDark .nav-tabs li:not(.active) a,.jarviswidget-color-greenDark>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-greenDark .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-greenDark>header{border-color:#638167!important}
.jarviswidget-color-green>header{background:#356E35;color:#FFF}
.jarviswidget-color-green .nav-tabs li:not(.active) a,.jarviswidget-color-green>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-green .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-green>header{border-color:#638167!important}
.jarviswidget-color-greenLight>header{background:#71843F;color:#FFF}
.jarviswidget-color-greenLight .nav-tabs li:not(.active) a,.jarviswidget-color-greenLight>header>.jarviswidget-ctrls a{color:#fff!important}
.jarviswidget-color-greenLight .nav-tabs li a:hover{color:#333!important}
.jarviswidget-color-greenLight>header{border-color:#638167!important}
.color-select{list-style:none;margin:0;padding:4px;min-width:166px;max-width:156px;right:-3px}
.color-select li{display:block;margin:2px;float:left}
.color-box,.color-select li span{display:block;width:22px;height:22px;padding:0;background:#333;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid rgba(0,0,0,.1);cursor:pointer}
.color-select li span:hover{border:3px solid rgba(0,0,0,.2)}
.color-box{position:relative;vertical-align:middle;border:1px solid rgba(255,255,255,.3)!important;outline:1px solid rgba(0,0,0,.1);background:rgba(255,255,255,.3)!important}
.color-box:hover,.open .color-box{outline:1px solid rgba(0,0,0,.1)!important}
.color-box:hover{-webkit-transform:scale(1.07);-moz-transform:scale(1.07)}
.color-box:active{top:1px;left:1px}
.widget-toolbar>.color-box{margin-top:7px;width:18px;height:18px;outline:1px solid rgba(0,0,0,.2)}
.widget-toolbar>.color-box:active,.widget-toolbar>.color-box:focus,.widget-toolbar>.color-box:hover{outline:1px solid rgba(0,0,0,.25)!important}
.widget-toolbar .dropdown-menu.color-select{right:-1px}
.jarviswidget-ctrls a{text-decoration:none;font-size:14px;text-align:center;display:inline-block;line-height:32px;padding:0;margin:0;color:#333}
.rtl .jarviswidget>header{padding:0 7px 0 0}
.rtl .jarviswidget>header h2{float:right;text-align:right}
.rtl .jarviswidget>header .jarviswidget-icon{float:right;margin:12px 0 0 7px}
.rtl .jarviswidget-ctrls{float:left;padding:10px 0 0 3px;margin:0}
.rtl .jarviswidget-ctrls .button-icon{margin:0 0 5px 5px}
.rtl .jarviswidget-loader{float:left}
.clearfix:after,.clearfix:before,.inner-spacer:after,.inner-spacer:before,.jarviswidget-editbox:after,.jarviswidget-editbox:before,.jarviswidget:after,.jarviswidget:before,.jarviswidget>div:after,.jarviswidget>div:before{content:"\0020";display:block;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden}
.clearfix:after,.inner-spacer:after,.jarviswidget-editbox:after,.jarviswidget:after,.jarviswidget>div:after{clear:both}
.clearfix,.inner-spacer:after,.jarviswidget,.jarviswidget-editbox,.jarviswidget>div{zoom:1}
.widget-toolbar{display:inline-block;float:right;width:auto;height:32px;line-height:32px;position:relative;border-left:1px solid rgba(0,0,0,.09);cursor:pointer;padding:0 8px;text-align:center}
.widget-toolbar>:first-child{text-align:left}
.jarviswidget header .nav-tabs{border-bottom-color:transparent}
.jarviswidget header .nav-tabs>li>a{border-radius:0;border:0;padding:7px 15px 6px}
.jarviswidget header .nav-tabs>li.active>a,.jarviswidget header .nav-tabs>li.active>a:focus,.jarviswidget header .nav-tabs>li.active>a:hover{color:#555;background-color:#FFF;border:1px solid #C2C2C2;border-bottom-color:transparent;border-top:0;cursor:default}
.jarviswidget header:first-child .nav-tabs{float:left}
.jarviswidget header:first-child .nav-tabs li{padding-left:0}
.jarviswidget header:first-child .nav-tabs li a{color:#333}
.jarviswidget header:first-child .nav-tabs.pull-right li:last-child a{margin-right:0!important;border-right:0!important}
.jarviswidget header .nav-pills{margin:3px}
.jarviswidget header .nav-pills>li>a{padding:3px 5px 4px}
.widget-toolbar .btn-group{margin-top:-3px}
.widget-toolbar>.btn{margin-top:-3px;font-size:12px!important;padding:1px 8px!important}
.widget-toolbar .smart-form label.checkbox,.widget-toolbar .smart-form label.radio{line-height:29px}
.widget-toolbar>.label{vertical-align:middle;margin-top:-3px;display:inline-block;text-align:center;font-size:12px;padding:4px 7px}
.widget-toolbar>.badge{padding:5px;font-size:14px;border-radius:50%;font-weight:400;min-width:24px;text-align:center!important}
.widget-toolbar .progress{width:130px;margin:7px 0 0;height:18px!important;font-size:12px;box-shadow:0 1px 0 rgba(0,0,0,0),0 0 0 1px #d1d1d1 inset;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0),0 0 0 1px #d1d1d1 inset}
.widget-toolbar .progress-bar{font-size:12px}
.widget-toolbar .pagination{margin:4px 0}
.widget-toolbar .pagination>li>a{padding:2px 7px}
.widget-toolbar .widget-text-input{max-width:220px}
.widget-toolbar input[type=text]{height:28px!important;margin-top:2px}
.widget-toolbar .smart-form .icon-append,.widget-toolbar .smart-form .icon-prepend,.widget-toolbar.smart-form .icon-append,.widget-toolbar.smart-form .icon-prepend{top:3px!important}
.smart-form *,.smart-form :after,.smart-form :before{margin:0;padding:0;-webkit-box-sizing:content-box;box-sizing:content-box;-moz-box-sizing:content-box}
.smart-form .btn{-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box}
.smart-form .checkbox+.checkbox,.smart-form .radio+.radio{margin-top:0}
.smart-form footer .btn{float:right;height:31px;margin:10px 0 0 5px;padding:0 22px;font:300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;cursor:pointer}
.smart-form legend{padding-top:15px}
.smart-form{margin:0;outline:0;color:#666;position:relative}
.smart-form header{display:block;padding:8px 0;border-bottom:1px dashed rgba(0,0,0,.2);background:#fff;font-size:16px;font-weight:300;color:#232323;margin:10px 14px 0}
.smart-form fieldset{display:block;padding:25px 14px 5px;border:0;background:rgba(255,255,255,.9);position:relative}
.smart-form fieldset+fieldset{border-top:1px solid rgba(0,0,0,.1)}
.smart-form section{margin-bottom:15px;position:relative}
.smart-form footer{display:block;padding:7px 14px 15px;border-top:1px solid rgba(0,0,0,.1);background:rgba(248,248,248,.9)}
.smart-form footer:after{content:'';display:table;clear:both}
.smart-form .label{display:block;margin-bottom:6px;line-height:19px;font-weight:400;font-size:13px;color:#333;text-align:left}
.smart-form .label.col{margin:0;padding-top:7px}
.note,.smart-form .note{margin-top:6px;padding:0 1px;font-size:11px;line-height:15px;color:#999}
.smart-form .note a{font-size:13px}
.smart-form .button,.smart-form .checkbox,.smart-form .input,.smart-form .radio,.smart-form .select,.smart-form .textarea,.smart-form .toggle{position:relative;display:block;font-weight:400}
.smart-form .input input,.smart-form .select select,.smart-form .textarea textarea{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;width:100%;height:32px;padding:8px 10px;outline:0;border-width:1px;border-style:solid;border-radius:0;background:#fff;font:13px/16px 'Open Sans',Helvetica,Arial,sans-serif;color:#404040;appearance:normal;-moz-appearance:none;-webkit-appearance:none}
.smart-form .input-file .button{position:absolute;top:4px;right:4px;float:none;height:22px;margin:0;padding:0 14px;font-size:13px;line-height:22px}
.smart-form .input-file .button:hover{-webkit-box-shadow:none;box-shadow:none}
.smart-form .input-file .button input{position:absolute;top:0;right:0;padding:0;font-size:30px;cursor:pointer;opacity:0}
.smart-form .select i{position:absolute;top:10px;right:11px;width:5px;height:11px;background:#fff;-webkit-box-shadow:0 0 0 9px #fff;box-shadow:0 0 0 9px #fff}
.smart-form .select i:after,.smart-form .select i:before{content:'';position:absolute;right:0;border-right:4px solid transparent;border-left:4px solid transparent}
.smart-form .select i:after{bottom:0;border-top:4px solid #404040}
.smart-form .select i:before{top:0;border-bottom:4px solid #404040}
.smart-form .select-multiple select{height:auto}
.smart-form .textarea textarea{height:auto;resize:none}
.smart-form .textarea-resizable textarea{resize:vertical}
.smart-form .textarea-expandable textarea{height:31px}
.smart-form .textarea-expandable textarea:focus{height:auto}
.smart-form .checkbox,.smart-form .radio{margin-bottom:4px;padding-left:25px;line-height:25px;color:#404040;cursor:pointer;font-size:13px}
.smart-form .checkbox:last-child,.smart-form .radio:last-child{margin-bottom:0}
.smart-form .checkbox input,.smart-form .radio input{position:absolute;left:-9999px}
.smart-form .checkbox i,.smart-form .radio i{position:absolute;top:3px;left:0;display:block;width:17px;height:17px;outline:0;border-width:1px;border-style:solid;background:#FFF}
.smart-form .radio i{border-radius:50%}
.smart-form .checkbox input+i:after,.smart-form .radio input+i:after{position:absolute;opacity:0;transition:opacity .1s;-webkit-transition:opacity .1s}
.smart-form .radio input+i:after{content:'';top:4px;left:4px;width:9px;height:9px;border-radius:50%}
.smart-form .checkbox input+i:after{content:'\f00c';top:-1px;left:1px;width:15px;height:15px;font:400 16px/19px FontAwesome;text-align:center}
.smart-form .checkbox input:checked:hover+i:after{content:'\f00d'}
.smart-form .checkbox input:checked:disabled:hover+i:after{content:'\f00c'}
.smart-form .checkbox input:checked+i:after,.smart-form .radio input:checked+i:after{opacity:1}
.smart-form .inline-group{margin:0 -30px -4px 0}
.smart-form .inline-group:after{content:'';display:table;clear:both}
.smart-form .inline-group .checkbox,.smart-form .inline-group .radio{float:left;margin-right:30px}
.smart-form .inline-group .checkbox:last-child,.smart-form .inline-group .radio:last-child{margin-bottom:4px}
.smart-form .toggle{margin-bottom:4px;padding-right:61px;font-size:15px;line-height:25px;color:#404040;cursor:pointer}
.smart-form .toggle:last-child{margin-bottom:0}
.smart-form .toggle input{position:absolute;left:-9999px}
.smart-form .toggle i{content:'';position:absolute;top:4px;right:0;display:block;width:49px;height:17px;border-width:1px;border-style:solid;border-radius:12px;background:#fff}
.smart-form .toggle i:after{content:attr(data-swchoff-text);position:absolute;top:2px;right:8px;left:8px;font-style:normal;font-size:9px;line-height:13px;font-weight:700;text-align:left;color:#5f5f5f}
.smart-form .toggle i:before{content:'';position:absolute;z-index:1;top:4px;right:4px;display:block;width:9px;height:9px;border-radius:50%;opacity:1;transition:right .2s;-webkit-transition:right .2s}
.smart-form .toggle input:checked+i:after{content:attr(data-swchon-text);text-align:right}
.smart-form .toggle input:checked+i:before{right:36px}
.smart-form .rating{margin-bottom:4px;font-size:13px;line-height:25px;color:#404040}
.smart-form .rating:last-child{margin-bottom:0}
.smart-form .rating input{position:absolute;left:-9999px}
.smart-form .rating label{display:block;float:right;height:17px;margin-top:5px;padding:0 2px;font-size:17px;line-height:17px;cursor:pointer}
.smart-form .button{float:right;height:31px;overflow:hidden;margin:10px 0 0 5px;padding:0 25px;outline:0;border:0;font:300 15px/31px 'Open Sans',Helvetica,Arial,sans-serif;text-decoration:none;color:#fff;cursor:pointer}
.smart-form .icon-append,.smart-form .icon-prepend{position:absolute;top:5px;width:22px;height:22px;font-size:14px;line-height:22px;text-align:center}
.smart-form .icon-append{right:5px;padding-left:3px;border-left-width:1px;border-left-style:solid}
.smart-form .icon-prepend{left:5px;padding-right:3px;border-right-width:1px;border-right-style:solid}
.smart-form .input .icon-prepend+input,.smart-form .textarea .icon-prepend+textarea{padding-left:37px}
.smart-form .input .icon-append+input,.smart-form .textarea .icon-append+textarea{padding-right:37px}
.smart-form .input .icon-prepend+.icon-append+input,.smart-form .textarea .icon-prepend+.icon-append+textarea{padding-left:37px}
.smart-form .row{margin:0 -15px}
.smart-form .row:after{content:'';display:table;clear:both}
.smart-form .col{float:left;min-height:1px;padding-right:15px;padding-left:15px;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box}
.smart-form .col-1{width:8.33%}
.smart-form .col-2{width:16.66%}
.smart-form .col-3{width:25%}
.smart-form .col-4{width:33.33%}
.smart-form .col-5{width:41.66%}
.smart-form .col-6{width:50%}
.smart-form .col-8{width:66.67%}
.smart-form .col-9{width:75%}
.smart-form .col-10{width:83.33%}
@media screen and (max-width:600px){.smart-form .col{float:none;width:100%}
}
.smart-form .select select{padding:5px}
.smart-form .tooltip{position:absolute;z-index:99999;left:-9999px;padding:2px 8px 3px;font-size:11px;line-height:16px;font-weight:400;background:rgba(0,0,0,.9);color:#fff;opacity:0;transition:margin .3s,opacity .3s;-webkit-transition:margin .3s,opacity .3s}
.smart-form .tooltip:after{content:'';position:absolute}
.smart-form .input input:focus+.tooltip,.smart-form .textarea textarea:focus+.tooltip{opacity:1}
.smart-form .tooltip-top-right{bottom:100%;margin-bottom:15px}
.smart-form .tooltip-top-right:after{top:100%;right:11px;border-top:4px solid rgba(0,0,0,.9);border-right:4px solid transparent;border-left:4px solid transparent}
.smart-form .input input:focus+.tooltip-top-right,.smart-form .textarea textarea:focus+.tooltip-top-right{right:0;left:auto;margin-bottom:5px}
.smart-form .tooltip-top-left{bottom:100%;margin-bottom:15px}
.smart-form .tooltip-top-left:after{top:100%;left:11px;border-top:4px solid rgba(0,0,0,.9);border-right:4px solid transparent;border-left:4px solid transparent}
.smart-form .input input:focus+.tooltip-top-left,.smart-form .textarea textarea:focus+.tooltip-top-left{right:auto;left:0;margin-bottom:5px}
.smart-form .tooltip-right{top:4px;white-space:nowrap;margin-left:15px}
.smart-form .tooltip-right:after{top:6px;right:100%;border-top:4px solid transparent;border-right:4px solid rgba(0,0,0,.9);border-bottom:4px solid transparent}
.smart-form .input input:focus+.tooltip-right,.smart-form .textarea textarea:focus+.tooltip-right{left:100%;margin-left:5px}
.smart-form .tooltip-left{top:4px;white-space:nowrap;margin-right:15px}
.smart-form .tooltip-left:after{top:6px;left:100%;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid rgba(0,0,0,.9)}
.smart-form .input input:focus+.tooltip-left,.smart-form .textarea textarea:focus+.tooltip-left{right:100%;left:auto;margin-right:5px}
.smart-form .tooltip-bottom-right{top:100%;margin-top:15px}
.smart-form .tooltip-bottom-right:after{bottom:100%;right:11px;border-right:4px solid transparent;border-bottom:4px solid rgba(0,0,0,.9);border-left:4px solid transparent}
.smart-form .input input:focus+.tooltip-bottom-right,.smart-form .textarea textarea:focus+.tooltip-bottom-right{right:0;left:auto;margin-top:5px}
.smart-form .tooltip-bottom-left{top:100%;margin-top:15px}
.smart-form .tooltip-bottom-left:after{bottom:100%;left:11px;border-right:4px solid transparent;border-bottom:4px solid rgba(0,0,0,.9);border-left:4px solid transparent}
.smart-form .input input:focus+.tooltip-bottom-left,.smart-form .textarea textarea:focus+.tooltip-bottom-left{right:auto;left:0;margin-top:5px}
.smart-form .checkbox i,.smart-form .icon-append,.smart-form .icon-prepend,.smart-form .input input,.smart-form .radio i,.smart-form .select select,.smart-form .textarea textarea,.smart-form .toggle i{border-color:#BDBDBD;transition:border-color .3s;-webkit-transition:border-color .3s}
.smart-form .toggle i:before{background-color:#3276B1}
.smart-form .rating label{color:#ccc;transition:color .3s;-webkit-transition:color .3s}
.smart-form .button{background-color:#3276B1;opacity:.8;transition:opacity .2s;-webkit-transition:opacity .2s}
.smart-form .button.button-secondary{background-color:#b3b3b3}
.smart-form .icon-append,.smart-form .icon-prepend{color:#A2A2A2}
.smart-form .checkbox:hover i,.smart-form .input:hover input,.smart-form .radio:hover i,.smart-form .select:hover select,.smart-form .textarea:hover textarea,.smart-form .toggle:hover i{border-color:#5D98CC}
.smart-form .rating input+label:hover,.smart-form .rating input+label:hover~label{color:#3276B1}
.smart-form .button:hover{opacity:1}
.smart-form .checkbox:hover i,.smart-form .radio:hover i,.smart-form .toggle:hover i{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.1);box-shadow:inset 0 1px 1px rgba(0,0,0,.1)}
.smart-form .checkbox:active i,.smart-form .radio:active i,.smart-form .toggle:active i{background:#F0F0F0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.1);box-shadow:inset 0 1px 1px rgba(0,0,0,.1)}
.smart-form .checkbox input:focus+i,.smart-form .input input:focus,.smart-form .radio input:focus+i,.smart-form .select select:focus,.smart-form .textarea textarea:focus,.smart-form .toggle input:focus+i{border-color:#3276B1}
.smart-form .radio input+i:after{background-color:#3276B1}
.smart-form .checkbox input+i:after{color:#3276B1}
.smart-form .checkbox input:checked+i,.smart-form .radio input:checked+i,.smart-form .toggle input:checked+i{border-color:#3276B1}
.smart-form .rating input:checked~label{color:#3276B1}
.smart-form .checkbox.state-error i,.smart-form .radio.state-error i,.smart-form .state-error input,.smart-form .state-error select,.smart-form .state-error textarea,.smart-form .toggle.state-error i{background:#fff0f0;border-color:#A90329}
.smart-form .toggle.state-error input:checked+i{background:#fff0f0}
.smart-form .state-error+em{display:block;margin-top:6px;padding:0 1px;font-style:normal;font-size:11px;line-height:15px;color:#D56161}
.smart-form .rating.state-error+em{margin-top:-4px;margin-bottom:4px}
.smart-form .state-error select+i{background:#FFF0F0;-webkit-box-shadow:0 0 0 9px #FFF0F0;box-shadow:0 0 0 9px #FFF0F0}
.state-error .icon-append,.state-error .icon-prepend{color:#ed1c24}
.smart-form .checkbox.state-success i,.smart-form .radio.state-success i,.smart-form .state-success input,.smart-form .state-success select,.smart-form .state-success textarea,.smart-form .toggle.state-success i{background:#f0fff0;border-color:#7DC27D}
.smart-form .toggle.state-success input:checked+i{background:#f0fff0}
.smart-form .note-success{color:#6fb679}
.smart-form .state-success select+i{background:#f0fff0;-webkit-box-shadow:0 0 0 9px #f0fff0;box-shadow:0 0 0 9px #f0fff0}
.smart-form .button.state-disabled,.smart-form .checkbox.state-disabled,.smart-form .input.state-disabled input,.smart-form .radio.state-disabled,.smart-form .select.state-disabled,.smart-form .textarea.state-disabled,.smart-form .toggle.state-disabled{cursor:default!important;opacity:.6!important}
.smart-form .checkbox.state-disabled:hover i,.smart-form .input.state-disabled:hover input,.smart-form .radio.state-disabled:hover i,.smart-form .select.state-disabled:hover select,.smart-form .textarea.state-disabled:hover textarea,.smart-form .toggle.state-disabled:hover i{border-color:#e5e5e5!important}
.smart-form .state-disabled.checkbox input+i:after,.smart-form .state-disabled.checkbox input:checked+i,.smart-form .state-disabled.radio input+i:after,.smart-form .state-disabled.radio input:checked+i,.smart-form .state-disabled.toggle input:checked+i{border-color:#e5e5e5!important;color:#333!important}
.smart-form .state-disabled.radio input+i:after{background-color:#333}
.smart-form .message{display:none;color:#6fb679}
.smart-form .message i{display:block;margin:0 auto 20px;width:81px;height:81px;border:1px solid #6fb679;border-radius:50%;font-size:30px;line-height:81px}
.smart-form.submited fieldset,.smart-form.submited footer{display:none}
.smart-form.submited .message{display:block;padding:25px 30px;background:rgba(255,255,255,.9);font:300 18px/27px 'Open Sans',Helvetica,Arial,sans-serif;text-align:center}
.smart-form .ui-widget-content .ui-spinner-input{margin:0;border:0;-webkit-box-shadow:none!important;box-shadow:none!important;height:29px}
.smart-form-modal{position:fixed;z-index:1;display:none;width:400px}
.smart-form-modal-overlay{position:fixed;top:0;left:0;display:none;width:100%;height:100%;background:rgba(0,0,0,.7)}
.ui-timepicker-div .ui-widget-header{margin-bottom:8px}
.ui-timepicker-div dl{text-align:left}
.ui-timepicker-div dl dt{float:left;clear:left;padding:0 0 0 5px}
.ui-timepicker-div dl dd{margin:17px 10px 12px 40%}
.ui-timepicker-div td{font-size:90%}
.ui-tpicker-grid-label{background:0 0;border:0;margin:0;padding:0}
.ui-timepicker-rtl{direction:rtl}
.ui-timepicker-rtl dl{text-align:right;padding:0 5px 0 0}
.ui-timepicker-rtl dl dt{float:right;clear:right}
.ui-timepicker-rtl dl dd{margin:0 40% 10px 10px}
.smart-form input.input-lg{height:44px;padding:10px 16px;font-size:17px;line-height:1.33}
.smart-form input.input-sm{height:30px;padding:5px 10px;font-size:12px;line-height:1.5}
.smart-form input.input-xs{height:24px;padding:2px 10px;font-size:11px;line-height:1.5}
.smart-form select.input-sm{height:30px;line-height:15px;font-size:12px}
.smart-form select.input-sm+i{height:10px}
.smart-form select.input-lg{height:44px;line-height:22px;font-size:17px}
.smart-form select.input-lg+i{height:11px;top:17px}

/*! X-editable - v1.5.0 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2013 Vitaliy Potapov; Licensed MIT */
.editableform{margin-bottom:0}
.editableform .control-group{margin-bottom:0;white-space:nowrap}
.editable-buttons{display:inline-block;vertical-align:top;margin-left:7px;zoom:1;*display:inline}
.editable-buttons.editable-buttons-bottom{display:block;margin-top:7px;margin-left:0}
.editable-input{vertical-align:top;display:inline-block;width:auto;white-space:normal;zoom:1;*display:inline}
.editable-buttons .editable-cancel{margin-left:7px}
.editable-buttons button.ui-button-icon-only{height:24px;width:30px}
.editableform-loading{background:url(../img/loading.gif) center center no-repeat;height:25px;width:auto;min-width:25px}
.editable-inline .editableform-loading{background-position:left 5px}
.editable-error-block{max-width:300px;margin:5px 0 0;width:auto;white-space:normal}
.editable-error-block.ui-state-error{padding:3px}
.editable-error{color:red}
.editableform .editable-date{padding:0;margin:0;float:left}
.editable-inline .add-on .icon-th{margin-top:3px;margin-left:1px}
.editable-checklist label input[type=checkbox],.editable-checklist label span{vertical-align:middle;margin:0}
.editable-checklist label{white-space:nowrap}
.editable-wysihtml5{width:566px;height:250px}
.editable-clear{clear:both;font-size:.9em;text-decoration:none;text-align:right}
.editable-clear-x{background:url(../img/clear.png) center center no-repeat;display:block;width:13px;height:13px;position:absolute;opacity:.6;z-index:100;top:50%;right:6px;margin-top:-6px}
.editable-clear-x:hover{opacity:1}
.editable-pre-wrapped{white-space:pre-wrap}
.editable-container.editable-popup{max-width:none!important}
.editable-container.popover{width:auto}
.editable-container.editable-inline{display:inline-block;vertical-align:middle;width:auto;zoom:1;*display:inline}
.editable-container.ui-widget{font-size:inherit;z-index:9990}
.editable-click,a.editable-click,a.editable-click:hover{text-decoration:none;border-bottom:dashed 1px #08c}
.editable-click.editable-disabled,a.editable-click.editable-disabled,a.editable-click.editable-disabled:hover{color:#585858;cursor:default;border-bottom:0}
.editable-empty,.editable-empty:focus,.editable-empty:hover{font-style:italic;color:#D14;text-decoration:none}
.editable-unsaved{font-weight:700}
.editable-bg-transition{-webkit-transition:background-color 1400ms ease-out;transition:background-color 1400ms ease-out}
.form-horizontal .editable{padding-top:5px;display:inline-block}
.editable-address{display:block;margin-bottom:5px}
.editable-address span{width:70px;display:inline-block}

